.liveWrapper {
  font-family: MicrosoftYaHei;
  position: relative;
  margin-left: 28px;
}
.liveWrapper p {
  margin-bottom: 0;
}
.liveWrapper i.liveBg {
  position: absolute;
  width: 155px;
  height: 70px;
  background: rgba(0, 0, 0, 0.4);
}
.liveWrapper .jianchuanContent {
  color: #fff;
  font-size: 12px;
}
.liveWrapper .jianchuanContent > div:nth-child(1) {
  width: 144px;
  height: 30px;
  line-height: 40px;
  border: 1px solid #FFF;
  border-radius: 7px;
}
.liveWrapper .jianchuanContent > div:nth-child(1) p {
  font-size: 12px;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform-origin: 50%;
  height: 30px;
  line-height: 30px;
}
.liveWrapper .jianchuanContent > div.aliveContent {
  margin-top: 5px;
  display: flex;
}
.liveWrapper .jianchuanContent > div.aliveContent > div:nth-child(1) {
  width: 38px;
}
.liveWrapper .jianchuanContent > div.aliveContent > div:nth-child(1) > p {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform-origin: 50%;
  height: 12px;
  line-height: 12px;
}
.liveWrapper .jianchuanContent > div.aliveContent div.bg {
  position: relative;
  width: 104px;
  height: 12px;
  display: block;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
}
.liveWrapper .jianchuanContent > div.aliveContent div.bg i {
  display: block;
  width: 20px;
  height: 12px;
  background: red;
}
.liveWrapper .jianchuanContent > div.aliveContent div.bg .youliang {
  background: blue;
}
