.container {
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}

.canvas {
    height: 100%;
    width: 100%;
    display: block;
}

.veh {
    position: absolute;
    width: 1vw;
    height: 1vw;
    margin-top: -0.5vw;
    margin-left: -0.5vw;
    background-color: #f00;
    transition-property: top left;
    transition-duration: 30ms;
}

.legendWrapper {
    p {
        margin-bottom: 0;
    }
    margin-left: 131px;
    margin-top: 117px;
    display: flex;
    .leftLegend {
        background: url(@/assets/images/backgroundLegend.png) no-repeat left top;
        width: 295px;
        height: 446px;
        background-size: contain;
        display: flex;
        justify-content: center;
        .leftLegendLabel {
            font-size: 21px;
            color: #FFF;
            font-family: MicrosoftYaHei;
            text-align: left;
            padding-top: 112px;
            >p {
                line-height: 1em;
                margin-bottom: 15px;
            }
        }

        .leftLegendIcon {
            padding-top: 104px;
            width: 100px;
            > p {
                margin:  0 auto;
                background-size: contain!important;
            }
    
            .wurencheIcon {
                width: 67px;
                height: 45px;
                background: url(@/assets/images/wurenche.png) no-repeat center top;
                
            }
            
            .sixuanyiIcon {
                width: 42px;
                height: 36px;
                margin-top: -10px!important;
                background: url(@/assets/images/sixuanyiIcon.png) no-repeat center top;
            }
            
            .gudingyiIcon {
                width: 60px;
                height: 48px;
                background: url(@/assets/images/gudingyiIcon.png) no-repeat center top;
            }
            
            .tankeIcon {
                width: 63px;
                height: 30px;
                margin-top: -6px!important;
                background: url(@/assets/images/tankeIcon.png) no-repeat center top;
            }
            
            
            .jianchuanIcon {
                width: 98px;
                height: 17px;
                margin-top: 10px!important;
                background: url(@/assets/images/jianchuanIcon.png) no-repeat center top;
            }
            
            .zhanliejianIcon {
                width: 93px;
                height: 20px;
                margin-top: 17px!important;
                background: url(@/assets/images/zhanliejianIcon.png) no-repeat center top;
            }
            
            .weizhuangzhanliejianIcon {
                width: 93px;
                height: 20px;
                margin-top: 16px!important;
                background: url(@/assets/images/weizhuangzhanliejianIcon.png) no-repeat center top;
            }
        }
    }

    .rightLegend {
        background: url(@/assets/images/backgroundLegend.png) no-repeat left top;
        background-size: contain;
        width: 295px;
        height: 446px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        .dawuIcon {
            position: relative;
            width: 124px;
            margin: 51px auto 42px;
            ::before {
                position: absolute;
                left:0;
                top:0;
                display: block;
                content: '';
                width: 124px;
                height: 111px;
                background: url(@/assets/images/dawuIcon.png) no-repeat left top;
                background-size: contain;
            }
            p {
                padding-top: 122px;
                text-align: center;
                color:#fff;
                font-size: 28px;
                font-family: MicrosoftYaHei-Bold;
                font-weight: bold;
            }
        }


        .fengxiangIcon {
            position: relative;
            width: 152px;
            margin: 0 auto;
            ::before {
                position: absolute;
                left:27px;
                top:0;
                display: block;
                content: '';
                width: 98px;
                height: 91px;
                background: url(@/assets/images/fengxiangIcon.png) no-repeat left top;
                background-size: contain;
            }
            p {
                padding-top: 105px;
                text-align: center;
                color:#fff;
                font-size: 28px;
                font-family: MicrosoftYaHei-Bold;
                font-weight: bold;
            }
        }
    }
}

.statusWrapper {
    p {
        margin-bottom: 0;
    }
    margin-top: 68px;
    width: 638px;
    height: 179px;
    background: url('@/assets/images/statusWrapperBackground.png') no-repeat left top;
    background-size: contain;
    text-align: center;
    margin-left: 131px;
    p:nth-child(1) {
        font-size: 29px;
        color:#EBC127;
        font-family: MicrosoftYaHei-Bold;
        font-weight: bold;
        padding-top: 41px;
    }
    p:nth-child(2) {
        font-size: 36px;
        color:#FFF;
        font-family: MicrosoftYaHei-Bold;
        font-weight: bold;
    }
}

.specialInfoWrapper {
    p {
        margin-bottom: 0;
    }
    margin-top: 20px;
    margin-left: 123px;
    width: 632px;
    height: 178px;
    background: url('@/assets/images/specialInfoBackground.png') no-repeat left top;
    background-size: contain;
    text-align: center;
    p:nth-child(1) {
        font-family: MicrosoftYaHei-Bold;
        font-weight: bold;
        color: #EBC127;
        padding-top: 40px;
        font-size: 29px;
    }
    p:nth-child(2) {
        font-family: MicrosoftYaHei-Bold;
        font-weight: bold;
        color:#DA0000;
        font-size: 29px;
    }
}

.dateWrapper  {
    margin-left: 123px;
    width: 632px;
    text-align: center;
    margin-top: 23px;
    color:#FFFFFF;
    font-size:28px;
}

.jianchuanGroup {
    display: flex;
    .jianchuanWrapper {
        width: 314px;
        p {
            margin-bottom: 0;
        }

        .jianchuanTop {
            width: 115px;
            height: 20px;
            background: url('@/assets/images/jianchuanIcon.png') no-repeat left top;
            background-size: contain;
        }

        .jianchuanCenterWrapper {
            margin-top: 14px;
            position: relative;
            height: 63px;
            .jianchuanCenterShuiwen {
                position: absolute;
                left:0;
                top:0;
                width: 275px;
                height: 63px;
                background: url('@/assets/images/jianchuanshuiwenIcon.png') no-repeat left top;
                background-size: contain; 
            }
            .jianchuanCenter {
                position: absolute;
                left:84px;
                top:13px;
                width: 230px;
                height: 41px;
                background: url('@/assets/images/jianchuanIcon.png') no-repeat left top;
                background-size: contain; 
            }
        }
        .jianchuanBottom {
            margin-top: 13px;
            width: 115px;
            height: 20px;
            background: url('@/assets/images/jianchuanIcon.png') no-repeat left top;
            background-size: contain;
        }
    }
    

    .liveWrapper {
        p {
            margin-bottom: 0;
        }
        font-family: MicrosoftYaHei;
        position: relative;
        margin-left: 28px;
        i.liveBg {
            margin-top: 23px;
            position: absolute;
            width: 155px;
            height: 70px;
            background: rgba(0,0,0,.4)
        }
        .jianchuanContent {
            margin-top: 23px;
            color:#fff;
            font-size: 12px;
            >div:nth-child(1) {
                width: 144px;
                height: 30px;
                line-height: 40px;
                border:1px solid #FFF;
                border-radius: 7px;
                p {
                    font-size:12px;
                    transform: scale(0.9);
                    -webkit-transform: scale(0.9);
                    transform-origin: 50%;
                    height: 30px;
                    line-height: 30px;
                }
            }

            >div:nth-child(2) {
                margin-top: 5px;
                display: flex;
                >div:nth-child(1) {
                    width: 38px;
                    >p {
                        transform: scale(0.9);
                        -webkit-transform: scale(0.9);
                        transform-origin: 50%;
                    }
                }
                div.bg {
                    position: relative;
                    width: 104px;
                    height: 12px;
                    display:block;
                    background: rgba(0,0,0,.4);
                    border-radius: 4px;
                    overflow: hidden;
                    i {
                        display: block;
                        width: 20px;
                        height: 12px;
                        background: red;
                    }
                }
            }
        }
    }
}