@import '~antd/dist/antd.css'; 
@import 'xb-theme.css'; 
#root {
  height: 100%;
}
.ant-pro-top-nav-header-main-left {
  margin-right: 20px;
}

.ant-layout-sider-children > .ant-pro-sider-logo > a > h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 140px;
}

.ant-menu-item {
  margin-right: 1px;
}
/* 
.ant-layout-footer{
  z-index:2;
  background: transparent;
} */




/*滚动条整体样式*/
.ant-modal-body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/*滚动条滑块*/
.ant-modal-body::-webkit-scrollbar-thumb {
  border-radius: 0;
  box-shadow: inset 0 0 5px #7ed0f5;
  background: #7ed0f5;
}
/*滚动条轨道*/
.ant-modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #005680;
  border-radius: 0;
  background: #005680;
}

/*滚动条整体样式*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/*滚动条滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  box-shadow: inset 0 0 5px #2a3d5d;
  background: #2a3d5d;
}
/*滚动条轨道*/
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #033e67;
  border-radius: 0;
  background: #033e67;
}

/* LIST */
/* ================== */

.files-dropzone-list {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 10px;
  border: 1px dashed #D3D3D3;
  cursor: pointer;
}

.files-buttons {
  border-top: 1px solid #D3D3D3;
  cursor: pointer;
}
.files-button-submit {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 50%;
  box-sizing: border-box;
  border-right: 1px solid #D3D3D3;
}
.files-button-submit:before {
  content: "Submit"
}
.files-button-clear {
  display: inline-block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 50%;
  box-sizing: border-box;
}
.files-button-clear:before {
  content: "Clear"
}
.files-list {
  width: 300px;
  border: 1px solid rgb(126,208,245);
  /* margin-top:10px; */
  margin-bottom:5px;
}
.files-list ul {
  list-style: none;
  margin: 0;
  padding: 0;

}
.files-list li:last-child {
  border: none;
}
.files-list-item {
  height: 60px;
  padding: 10px 0px 10px 0px;
  /*border-bottom: 1px solid #D3D3D3;*/
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.files-list-item-content {
  padding-top: 5px;
  padding-left: 10px;
  width: calc(100% - 130px);
}
.files-list-item-content-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:#FFF;
}
.files-list-item-content-item-1 {
  font-size: 14px;
}
.files-list-item-content-item-2 {
  font-size: 12px;
}
.files-list-item-preview {
  height: 40px;
  width: 40px;
}
.files-list-item-preview-image {
  height: 100%;
  width: 100%;
}
.files-list-item-preview-extension {
  text-align: center;
  line-height: 40px;
  color: #FFF;
  background-color: #D3D3D3;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}
.files-list-item-remove {
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTM4IDEyLjgzbC0yLjgzLTIuODMtMTEuMTcgMTEuMTctMTEuMTctMTEuMTctMi44MyAyLjgzIDExLjE3IDExLjE3LTExLjE3IDExLjE3IDIuODMgMi44MyAxMS4xNy0xMS4xNyAxMS4xNyAxMS4xNyAyLjgzLTIuODMtMTEuMTctMTEuMTd6Ii8+PHBhdGggZD0iTTAgMGg0OHY0OGgtNDh6IiBmaWxsPSJub25lIi8+PC9zdmc+) no-repeat center center;
  background-size: 30px 30px;
}
.files-list-item-remove-image {
  height: 30px;
  width: 30px;
  margin-top: 15px;
  margin-right: 10px;
  float: right;
}



/* GALLERY */
/* ================== */

.files-dropzone-gallery {
  padding: 10px;
  border: 1px dashed #D3D3D3;
  min-height: 300px;
  width: 500px;
}
.files-gallery-item {
  height: 80px;
  margin: 5px;
}


.files-dropzone-active {
  border: 1px solid lightgreen;
  color: lightgreen;
}
